Restconf does not handle startup datastore according to the RFC

RFC8040 Section 1.4 Co-existence with Netconf 
  If the NETCONF server supports :startup, the RESTCONF server MUST
   automatically update the non-volatile startup configuration
   datastore, after the "running" datastore has been altered as a
   consequence of a RESTCONF edit operation.
thanks @mgsmith1000 

Fixed. Note, you need to explicitly enable feature: ietf-netconf:startup. And it causes some worse performance since every edit operation results in a copy frm running db to startup.