YANG if-feature does not support nested boolean expression

Clixon does not support nested boolean expresssions in if-feature argument as described in RFC 7950 Section 7.20.2. 
This is noted in https://clixon-docs.readthedocs.io/en/latest/standards.html#yang
Clixon terminates when encountering such a statement.
This was noted when loading the new RFC 9243 ietf-dhcpv6-client YANG module: https://github.com/YangModels/yang/blob/main/standard/ietf/RFC/ietf-dhcpv6-client%402022-06-20.yang
Please fix:
1. Do not exit when encountering nested if-feature-expr
2. Implement the boolean logic of if-feature-expr


Fixed