Netconf get/get-config :xpath capability does not support namespaces

XML xpath does not support namespaces correctly. This shows in the API in RFC6241 Section 8.9.5.1 get-config/get :xpath capability, eg: (clixon does not support the "t:" in the xpath).
```
     <rpc message-id="101" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
       <get-config>
         <source><running/></source>
         <filter xmlns:t="http://example.com/schema/1.2/config"
                 type="xpath" select="/t:top/t:users/t:user[t:name='fred']"/>
        </get-config>
     </rpc>
```
The effect is also that all C API calls to xpath functions do not support namespaces.