RESTCONF GETof lists with empty string keys does not work

RESTCONF list requests such as `list=` and `list=,a,` requests list elements with empty string key elements. Such elements are supported in clixon but can not be individually retrieved by RESTCONF GET using the api-path syntax as described in RFC 8040 Section 3.5.3.
See also https://github.com/clicon/clixon/issues/213
