Restconf returns error when RPC generates "ok" reply

I have an RPC defined in my data model:

    rpc dataplane-control {
        input {
            leaf operation {
                mandatory true;
                type ngcom:service-operation;
                description
                    "The operation to perform";
            }
            leaf option {
                type string;
                description
                    "Option on operation";
            }
        }
        output {
            leaf stdout {
                type string;
            }
        }
    }

When I invoke this RPC via restconf, the reply that is generated by the backend callback that is registered for this RPC only contains ```<ok/>```. Restconf interprets this as an invalid reply:

```
  {
    "ietf-restconf:errors" : {
    "error": {
      "error-type": "application",
      "error-tag": "unknown-element",
      "error-info": {
        "bad-element": "ok"
      },
      "error-severity": "error"
      }
    }
  }
```

RFC 7950 section 7.14.4 says:

        If the RPC operation invocation succeeded and no output parameters
        are returned, the <rpc-reply> contains a single <ok/> element

The output parameter for the RPC is not mandatory, so a reply of ```<ok/>``` seems RFC-compliant.

 

Agree. The behaviour is wrong.

Sanity check removed for replies due to (1) wrong handling of <ok/> (2) uncertain of handling of outgoing validation errors.