Clixon edit-config accepts, but get-config omits identity namespace within containing XML element

When operating with the OpenConfig YANG schema, Clixon will accept a configuration including an ethernet interface bearing the following element:

`<tpid xmlns="http://openconfig.net/yang/vlan" xmlns:oc-vlan-types="http://openconfig.net/yang/vlan-types">oc-vlan-types:TPID_0X8100</tpid>`

However, when retrieving the configuration from Clixon, the element lacks the namespace to which the identity in the element body belongs:

`<tpid xmlns="http://openconfig.net/yang/vlan">oc-vlan-types:TPID_0X8100</tpid>`

MG-SOFT NETCONF Browser produces the following error as a result:

`Error at (line:col): character content of element "tpid" invalid; must be a QName whose prefix, if any, is declared (prefix "oc-vlan-types" is not declared)`

This issue is not specific to the example above and has been observed on other values as well.

Additionally, in an edit-config operation, Clixon does not strictly validate the given identity is legal at the time of the edit-config operation (perhaps this is correct, and the user is expected to invoke the validate RPC).  That is, Clixon will accept these values, neither of which is a valid.

`<tpid xmlns="http://openconfig.net/yang/vlan">oc-vlan-types:TPID_0X8101</tpid>`
`<tpid xmlns="http://openconfig.net/yang/vlan">this-should-not-work</tpid>`

Validation does correctly reject the invalid configuration:

```
<?xml version="1.0" encoding="utf-8"?>
<rpc-reply xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="22">
  <rpc-error>
    <error-type>application</error-type>
    <error-tag>operation-failed</error-tag>
    <error-severity>error</error-severity>
    <error-message>Identityref validation failed, this-should-not-work not derived from TPID_TYPES in openconfig-vlan-types.yang:87</error-message>
  </rpc-error>
</rpc-reply>
```


This is an identityref issue, see definition of `tpid`: 
```
    leaf tpid {
      type identityref {
        base oc-vlan-types:TPID_TYPES;
      }
```
It may be related to known issue: https://github.com/clicon/clixon/issues/90
More investigation will follow

@pheller I need to understand how you retrieved info from Clixon. When I use netconf get-config with or without filter I get correct namespace prefix declarations. Also the datastore has it.


Regarding the second issue, I think it should be enforced. When validation constraints should actually be enforced is a litte unclear according to RFC 7950 Section 8, but I assume resolved namespaces should be part of a well-defined edit-config.
However, namespace prefixes in paylod is aomewhat troublesome since in order to know the payload is on the form <prefix>:<name> the YANG binding must have been done. That is, in contrast with XML tags, this namspace check cannot be done at XML parse time, it must be done after the YANG binding is done. Clixon separates these two steps.

Understood on the second issue.

With respect to the first issue, I think I see what is happening.  The `oc-vlan-types` namespace declaration is given to Clixon on the `oc-vlan:tpid` element, but is stored and returned by Clixon on the `oc-if:config` (parent) element.

I will inquire with MG-SOFT as to why their validator does not consider this correct.

At this time, I'd consider the issue no longer valid.

Details:

I send this configuration:

```
% cat << EOF | clixon_netconf -qf /usr/local/etc/example-openconfig.xml
<hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <capabilities>
    <capability>urn:ietf:params:netconf:base:1.0</capability>
  </capabilities>
  <session-id>4</session-id>
</hello>
]]>]]>
<rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="124">
  <edit-config>
    <target>
      <candidate/>
    </target>
    <config>
      <oc-if:interfaces xmlns:oc-if="http://openconfig.net/yang/interfaces">
        <oc-if:interface>
          <oc-if:name>vlan1</oc-if:name>
          <oc-if:config>
            <oc-if:name>vlan1</oc-if:name>
            <oc-if:type xmlns:ianaift="urn:ietf:params:xml:ns:yang:iana-if-type">ianaift:l2vlan</oc-if:type>
            <oc-vlan:tpid xmlns:oc-vlan="http://openconfig.net/yang/vlan" xmlns:oc-vlan-types="http://openconfig.net/yang/vlan-types">oc-vlan-types:TPID_0X8100</oc-vlan:tpid>
          </oc-if:config>
        </oc-if:interface>
      </oc-if:interfaces>
    </config>
  </edit-config>
</rpc>
]]>]]>
<rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="125">
  <commit/>
</rpc>
]]>]]>
EOF
```

And Clixon returns this configuration:

```
% cat << EOF | clixon_netconf -qf /usr/local/etc/example-openconfig.xml | sed -e 's/]]>]]>//g' | xmllint --format -
<hello xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <capabilities>
    <capability>urn:ietf:params:netconf:base:1.0</capability>
  </capabilities>
  <session-id>4</session-id>
</hello>
]]>]]>
<rpc xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="123">
  <get-config>
    <source>
      <running/>
    </source>
    <with-defaults xmlns="urn:ietf:params:xml:ns:yang:ietf-netconf-with-defaults">explicit</with-defaults>
  </get-config>
</rpc>
]]>]]>
EOF
<?xml version="1.0"?>
<rpc-reply xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" message-id="123">
  <data>
    <oc-if:interfaces xmlns:oc-if="http://openconfig.net/yang/interfaces">
      <oc-if:interface>
        <oc-if:name>vlan1</oc-if:name>
        <oc-if:config xmlns:ianaift="urn:ietf:params:xml:ns:yang:iana-if-type" xmlns:oc-vlan-types="http://openconfig.net/yang/vlan-types">
          <oc-if:name>vlan1</oc-if:name>
          <oc-if:type>ianaift:l2vlan</oc-if:type>
          <tpid xmlns="http://openconfig.net/yang/vlan">oc-vlan-types:TPID_0X8100</tpid>
        </oc-if:config>
      </oc-if:interface>
    </oc-if:interfaces>
  </data>
</rpc-reply>
```



There is stillt eh second issue, ie clixon does not strictly validate if the identity is legal at the time of the edit-config operation 